################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Stockbridge.Cars/Stockbridge.Cars/bin/Debug/net6.0
/Stockbridge.Cars/Stockbridge.Cars/obj
/Stockbridge.Cars/.vs/Stockbridge.Cars
/.vs
/Stockbridge.Cars/Stockbridge.Cars/bin/Release/net6.0
